* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    /* background: rgba(218, 216, 216, 0.3) */
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    border-bottom: 1px solid rgb(145, 142, 148);
  }

 #showcase {
     background-image: url('./images/undraw_suburbs_8b83.svg') ;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     width: 100%;
     height:500px;
     display: flex;
     justify-content: center;
     color: grey;
    
 }

  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color:#7a1299;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(70, 69, 69);
    margin-right: 10px;
  }
  
  .nav > .nav-links > a:hover {
    border-bottom: 3px solid blueviolet;
    color: blueviolet;
    
  }
  
  .nav > #nav-check {
    display: none;
  }

  #fade {
    position: relative;
  }
  
  #fade img {
    position: absolute;
    size: 100% 100%;
  }
  
  .top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }
  
  #fading {
    display: block;
     width: 100%;
     height:50vh;
     display: flex;
     justify-content: center;
     color: grey;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  footer{
     padding:20px;
     display:block;
     margin-top:20px;
     color:#ffffff;
     background-color:#35424a;
     text-align: center;
}


*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color: rgba(248, 246, 246, 0.849);
}

.wrapper{
/*   border:solid black; */
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.myForm{
/*   border:solid black; */
  background-color:white;
  margin:50px auto;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  width:25%;
  min-width:400px;
  border-radius:5px;
/*   height:450px;     */
}



.formElement{
/*   border:solid black; */
/*   flex-basis:100%; */
  width:90%;
}



.formInstructionsDiv{
  width:100%; 
/*   flex-grow:1; */
  padding:15px 0;
  background-color:#8c6ef8;
  border-radius:5px;
  border-bottom: solid #8c6ef8;
  color:white; 
 
}

.formInstructionsDiv h2{
  margin-left:5%;
  font-size:3em;
  font-family:"ebrima";
  font-weight:lighter;
}

.formInstructionsDiv p{
  margin-left:5%;
  font-size:1em;
  font-family: "ebrima";
}
.fillContentDiv{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  flex-grow:1;
  margin-top:40px;
  margin-bottom: 82px;
  height:280px;
  
  
}

.formContentElement{
  min-width:100%;
}

.names{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;

}

.names .inputRequest{
  width:47.5%;
  min-width:150px;
}

.names .inputRequest:last-child{
/*   margin-right:5%; */
}

.otherInputs{

}

.otherInputs .inputRequest{

}


.inputRequest{
/*   margin-bottom:20px; */
  padding:15px;
  font-size:1.2em;
  background-color: #f2f2f2;
  border-style:none;
  border-radius:5px;
}

/* .inputRequest:focus{
 border-style:solid;
  b -width:3px;
  boorderrder-color: #0d6380;
} */


.submitButton{
  width:40%;
  height:100%;
  background-color: #8c6ef8;
  border-style:none;
  color:white;
  font-size:1.2em;
  font-weight:800;
  cursor:pointer;
  border-radius:5px;
}

.submitButton:hover{
  background-color:#1d42e6;
}
.submitButtonDiv{
  grow:1;
  height:45px;
/*   padding-bottom:40px; */
  margin-bottom:20px;
  
}

.fillContentDivLogin{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  flex-grow:1;
  margin-top:40px;
  margin-bottom: 82px;
  height:150px;
  
  
}

