* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    /* background: rgba(218, 216, 216, 0.3) */
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    border-bottom: 1px solid rgb(145, 142, 148);
  }

 #showcase {
     background-image: url('./images/undraw_suburbs_8b83.svg') ;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     width: 100%;
     height:500px;
     display: flex;
     justify-content: center;
     color: grey;
    
 }

  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color:#7a1299;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(70, 69, 69);
    margin-right: 10px;
  }
  
  .nav > .nav-links > a:hover {
    border-bottom: 3px solid blueviolet;
    color: blueviolet;
    
  }
  
  .nav > #nav-check {
    display: none;
  }

  #fade {
    position: relative;
  }
  
  #fade img {
    position: absolute;
    size: 100% 100%;
  }
  
  .top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }
  
  #fading {
    display: block;
     width: 100%;
     height:50vh;
     display: flex;
     justify-content: center;
     color: grey;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  footer{
     padding:20px;
     display:block;
     margin-top:20px;
     color:#ffffff;
     background-color:#35424a;
     text-align: center;
}